<link rel="stylesheet" href="/assets/css/global.css">
<header>
  <div class="container header-container">
    <a href="/" class="logo"><img src="/images/SaumLogo.png" alt="SAUM"></a>
    <nav>
      <ul>
        <li class="dropdown">
          <a href="/temples/">Temple Tourism</a>
          <div class="dropdown-content">
            <a href="/temples/ayodhya-varanasi/">Ayodhya &amp; Varanasi Yatra</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="/special-trips/">Special Trips</a>
          <div class="dropdown-content">
            <a href="/special-trips/rath-yatra/">Jagannath Rath Yatra</a>
            <a href="/special-trips/pandal-hopping/">Ganpati Pandal Hopping</a>
          </div>
        </li>
        <li><a href="/about/">About Us</a></li>
        <li><a href="/contact/">Contact Us</a></li>
      </ul>
    </nav>
  </div>
  <script>
    (function () {
      var currentPath = window.location.pathname;
      document.querySelectorAll('nav ul li > a').forEach(function (link) {
        var linkPath = new URL(link.href).pathname;
        if (linkPath === '/' && currentPath === '/') {
          link.classList.add('active');
        } else if (linkPath !== '/' && currentPath.startsWith(linkPath)) {
          link.classList.add('active');
        }
      });
    })();
  </script>
</header>
